# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Temporary testing files
data.json
test.js
src/data.js
styles.js

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# misc
.idea
.vscode
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

#debug logs
logs
debug.log
*.log

# Firebase
.firebaserc
firestore.rules
storage.rules

# Firebase cache
.firebase/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

