.nav-dropdown-toggle {
  height: 40px;
  width: 40px;
  color: var(--on-surface);
  background-color: var(--surface-container-highest);
  border-radius: var(--round);
  -webkit-tap-highlight-color: transparent;

  &.active {
    color: var(--on-primary-container);
    background-color: var(--primary-container);
  }
}

button.switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--on-surface);

  .track {
    display: flex;
    align-items: center;
    height: 32px;
    width: 52px;
    border-radius: 100px;
    border: 2px solid var(--outline);
    background-color: var(--surface-container-highest);
  }

  .handle {
    position: relative;
    margin-left: 2px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #3d3d3d;
    transition: 0.2s;
  }

  .layer {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--surface-container-highest);
    opacity: 0;
    transition: 0.2s;
  }

  &:hover,
  &:focus-visible {
    .layer {
      opacity: 1;
    }

    .handle {
      background-color: var(--on-surface);
    }
  }

  &:active {
    .handle {
      height: 24px;
      width: 24px;
    }
  }

  &.checked {
    .track {
      border-color: transparent;
      background-color: var(--primary-container);
    }

    .handle {
      background-color: var(--on-primary-container);
      height: 24px;
      width: 24px;
      margin-left: 24px;
    }

    &:active {
      .handle {
        height: 28px;
        width: 28px;
        margin-left: 20px;
      }
    }
  }
}

.close-button {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
}

.tab {
  height: 48px;
  min-width: 120px;
  font-weight: 600;
  outline-offset: 6px;
}

.tab.active {
  > span {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid var(--outline-1);
  }
}

.button.primary {
  color: var(--on-primary);
  background-color: var(--primary);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border: 2px solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s;
    animation: 1s linear infinite rotate;
  }

  &.sending {
    opacity: 0.8;
    cursor: not-allowed;

    &:before {
      transition-duration: 0.5s;
      opacity: 1;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}
