.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outline-bottom {
  border-bottom: 1px solid var(--outline);
}

.absolute {
  position: absolute;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.top-8 {
  top: 8px;
}

.right-8 {
  right: 8px;
}
