.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justifiy-content-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resize-none {
  resize: none;
}

.overflow-hidden {
  overflow: hidden;
}

.outline-current-color {
  border: 1px solid currentColor;
}

.outline {
  border: 1px solid var(--outline);
}

.outline-bottom {
  border-bottom: 1px solid var(--outline);
}

.outline-x {
  border-left: 1px solid var(--outline);
  border-right: 1px solid var(--outline);
}

.outline-left {
  border-left: 1px solid var(--outline);
}

.outline-right {
  border-right: 1px solid var(--outline);
}

.outline-top {
  border-top: 1px solid var(--outline);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.top-8 {
  top: 8px;
}

.right-8 {
  right: 8px;
}
