.grow-1 {
  flex-grow: 1;
}

.w-100p {
  width: 100%;
}

.w-50p {
  width: 50%;
}

.w-auto {
  width: auto;
}

.h-100vh {
  height: 100vh;
}

.h-auto {
  height: auto;
}

.size-60 {
  width: 60px;
  height: 60px;
}

.h-55px {
  height: 55px;
}

.modal-default-size {
  min-width: 320px;
  max-width: 540px;
  width: 100%;
}
