.ml-auto {
  margin-left: auto;
}

.mb-4 {
  margin-bottom: 4px;
}

.m-8 {
  margin: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.my-8 {
  margin: 8px 0;
}

.mx-8 {
  margin: 0 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.px-8 {
  padding: 0 8px;
}

.py-8 {
  padding: 8px 0;
}

.pr-60 {
  padding-right: 60px;
}
